body{
    background-color: #faf8f8;
}

.logo-band-text{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:#FFFFFF;
    flex:block;
    text-align: center;
    background-color: #189ab4;
    width: 100%;
    border-radius: 10px;
    margin-top:100px;
}

.hr-1{
    width: 500px;
}

.navbar {
    position: fixed;
    top: 0;
    width: 99%;
    background-color: #189ab4;
    overflow: auto;
    z-index: 100;
}

#search-bar{
    padding: 4px;
    margin-top:7px;
    border-radius:20px;
    border-width: 1px;
}

#search-bar:hover{
    border-color:#bbbaba
}

.icon-search{
    padding-right: 10px;
    margin-top:7px;
    color:white;
}

.navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display:flex;
    justify-content: space-around;
}

.navbar ul li {
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    padding: 5px;
}

.navbar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}

.navbar ul li a i{
    padding: 5px 5px;
}



.navelement:hover{
    filter:brightness(90%);
    background-color: #05445E;
    border-radius: 10px;   
}

.register-container{
    display:flex;
    padding-top: 15px;
    flex-direction: column;
    align-items:center;
    background-color: white;
    width: 350px;
    border-radius: 5%;
    margin:auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.register-container > h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.form-group{
    padding: 5px;
}

.form-group label{
    font-weight:bold;
    font-family: Arial, Helvetica, sans-serif;
}

.form-group input{
    padding: 5px;
    border-radius: 10px;
    border-width: 1px;
}

.form-group input:hover{
    border-color:#bbbaba;
}
.form-group p{
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(7, 44, 252);
    text-align: center;
}

.form-group p:hover{
    color:rgb(102, 124, 250);
    text-decoration: underline;
    cursor: pointer;
}

#loginButton{
    font-weight:bold;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(255, 255, 255);
    padding:5px;
    background-color: #189AB4;
    border-radius: 10px;
    border-width: 1px;
    border-color:rgb(0, 0, 0);
    margin-left: 60px;
    
}

#loginButton:hover{
    filter:brightness(90%);
    background-color: #05445E;
    cursor:pointer;
}

.footerbar {
    width: 100%;
    background-color: #189AB4;
    overflow: auto;
}

.footerbar-content{
    display:flex;
    justify-content: space-around;
}

.social-media ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.social-media ul a {
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
}

.social-media ul li a {
    display: block;
    color: white;
    text-align: right;
    padding: 10px 16px;
    text-decoration: none;

}

.social-media ul li a i{
    padding: 4px;
}

.social-media ul li a i:hover{
    filter:brightness(90%);
    color: #D4F1F4;
}
 
.footerbar p{
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-small;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}

.social-media{
    display:flex;
    flex-direction: column;
}

.social-media p{
    font-family: Arial, Helvetica, sans-serif; 
    font-size: large;
    font-weight: bold; 
}

.fast-acces ul{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.fast-acces p{
    font-family: Arial, Helvetica, sans-serif; 
    font-size: large;
    font-weight: bold; 
}

.fast-acces ul {
    margin: 0;
    padding: 10;
    list-style-type: none;
    display:flex;
    justify-content: right;
    margin-right:100px;
    margin-top: 10px;
}

.fast-acces ul a {
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
}

.fast-acces ul li a {
    display: block;
    color: white;
    text-align: right;
    padding: 3px 10px;
    text-decoration: none;

}

.fast-acces ul li a i{
    padding: 4px;
}

.fast-acces ul li a:hover{
    filter:brightness(90%);
    color: #D4F1F4;
}

#responseMessage{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    margin-bottom:40px;
}



.oferte-container h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}
.oferte-container img{
    width: 300px;
    height: 450px;
    border-radius: 7%;
}

.imagini-oferte{
    display:flex;
    justify-content: space-around;
}

.img-container img:hover {
    filter:brightness(80%);
    cursor:pointer;
}

.image-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    text-align: center;
    padding:10px;
}

.oferte-container .img-container ul li {
    font-family: 'Arial', sans-serif;
    font-size: medium;
}

.hr-2{
    width: 100px;
}

.obiective-container h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.message-container{
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    text-align: center;
    font-weight: bold;
}

.obiective-container h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.obiective-container h2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.obiectiv{
    display:flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 400px;
    padding-bottom: 100px;

}

.descriere{
    padding:50px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

.obiectiv img{
    width: 600px;
    height: 400px;
    border-radius: 3%;
    align-items: center;
}

.aboutus h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
    padding-bottom: 50px;
}

.textabout{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: x-large;
    font-weight: bold;
    padding-left: 650px;
    padding-right: 650px;
    padding-bottom: 100px;

}






